<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT Sans Narrow' rel='stylesheet'>

    <!-- CSS CALLS -->
    <link rel="stylesheet" href="../styles/listings_body.css" type="text/css" />
    <link rel="stylesheet" href="../styles/search.css" type="text/css" />

  </head>
  <body>
    <%- include('partials/nav') %>

    <main class="container">

      <section class="search_listings" id="search">
        <form id="search">
          <div class="upper-search">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <textarea name="search-text" id="search-text" placeholder="Search..."></textarea>
          </div>
          <div class="bottom_search">
            <input type="number" name="search-max" id="search-max" placeholder="Max Price"></textarea>
            <input type="number" name="search-min" id="search-min" placeholder="Min Price"></textarea>
            <div class="checkboxes">
              <label for="farming">
                <input type="checkbox" id="farming" />Farming</label>
              <label for="lighting">
                <input type="checkbox" id="lighting" />Lighting</label>
              <label for="food">
                <input type="checkbox" id="food" />Food</label>
              <label for="misc">
                <input type="checkbox" id="misc" />Misc.</label>
            </div>
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>

      <section class="item_body">
        <section>
          <header>Featured Items</header>
          <label class="desc">The Hottest New Items From Around The Village!</label>
          <div class="featured_items">

            <%  for(let item of listings){  %>
              <%  if(item.featured === true){  %>
                <div class="listing">
                  <img src="<%= item.url %>">
                  <i class="fa-solid fa-heart"></i>
                  <div class="item_info">
                    <label class="name"><%= item.title %></label>
                    <label class="cost"><%= item.price %> Gold Coins</label>
                  </div>
                </div>
              <%  } %>
            <%  } %>

          </div>
        </section>

        <section>
          <header>All Items</header>
          <label class="desc">Find Items Sold By People Near You!</label>
          <div class="all_items">

          <%  for(let item of listings){  %>
            <%  if(item.featured === true){  %>
                <div class="listing">
                  <img src="<%= item.url %>">
                  <i class="fa-solid fa-heart"></i>
                  <div class="item_info">
                    <label class="name"><%= item.title %></label>
                    <label class="cost"><%= item.price %> Gold Coins</label>
                  </div>
                </div>
              <%  } %>
          <%  } %>

          </div>
        </section>
      </section>

    </main>
  </body>
</html>
