<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT Sans Narrow' rel='stylesheet'>

    <!-- CSS CALLS -->
    <link rel="stylesheet" href="../styles/my_listings.css" type="text/css" />

  </head>
  <body>
    <%- include('partials/nav') %>

    <main class="container">

      <section class="item_body">
          <header class="my_header">My Items</header>
          <label class="desc">All The Items You Have For Sale!</label>
          <section class="my_items">

            <%  for(let item of myListings){  %>

              <div class="listing" id="<%= item.id %>">
                <img src="<%= item.photo_url %>">
                <i class="fa-solid fa-heart"></i>
                <div class="listing_body">
                  <header class="name"><%= item.title %></header>
                  <div class="item_info_top">
                    <label class="username"><%= item.name %></label>
                    <label class="cost"><%= item.price %> Gold Coins</label>
                  </div>
                  <div class="desc">
                    <label class="desclbl"><%= item.description %></label>
                  </div>
                </div>
                <div class="buttons">
                  <form id="mark-sold">
                    <button type="submit">Mark As Sold</button>
                  </form>

                  <form id="delete">
                    <button type="submit">Delete</button>
                  </form>
                </div>
              </div>
            <%  } %>
          </section>
      </section>

    </main>
  </body>
</html>
